<div id="editor">
<div id="toolbar" class="wmd-toolbar"></div>
<textarea id="input" class="wmd-input" rows="30" cols="84"></textarea>
<div id="tools">
</div>
</div>
<div id="preview" class="wmd-preview">
</div>