#posts-controller {
  .edit-icon {
    height: 25px;
    position: relative;
    top: 6px;
  }
  
  .destroy-icon {
    height: 19px;
    position: relative;
    top: 3px;
  }
  
  a.post:hover {
    background-color: transparent;
  }
  
  hr.dashed {
    border: 1px dashed #000;
  }
}